<a href="https://colab.research.google.com/github/Ankush12217540/CPP-learning/blob/main/INT_lecture_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random
print(random.random())

0.15190729880460285

In [ ]:
import random
print(random.randint(1,5))

5

In [ ]:
a="""Hi my name is Ankush and I am at LPU studing Python in KOC29 from Anurag Sir,
I am here at LPU after having delicious lunch
I am about to go library after lecture"""
print(a)

Hi my name is Ankush and I am at LPU studing Python in KOC29 from Anurag Sir,
I am here at LPU after having delicious lunch
I am about to go library after lecture

In [ ]:
#string operations
#slicing 
b="Cipher School"
print(b[2:5])
print(b[2:])
print(b[:5])
print(b.upper())

In [ ]:
age=40;
sent="My name is something and age is {}"
print(sent.format(age))

My name is something and age is 40

drimport os    
import time    
    
board = [' ',' ',' ',' ',' ',' ',' ',' ',' ',' ']    
player = 1    
   
########win Flags##########    
Win = 1    
Draw = -1    
Running = 0    
Stop = 1    
###########################    
Game = Running    
Mark = 'X'    
   
#This Function Draws Game Board    
def DrawBoard():    
    print(" %c | %c | %c " % (board[1],board[2],board[3]))    
    print("___|___|___")    
    print(" %c | %c | %c " % (board[4],board[5],board[6]))    
    print("___|___|___")    
    print(" %c | %c | %c " % (board[7],board[8],board[9]))    
    print("   |   |   ")    
   
#This Function Checks position is empty or not    
def CheckPosition(x):    
    if(board[x] == ' '):    
        return True    
    else:    
        return False    
   
#This Function Checks player has won or not    
def CheckWin():    
    global Game    
    #Horizontal winning condition    
    if(board[1] == board[2] and board[2] == board[3] and board[1] != ' '):    
        Game = Win    
    elif(board[4] == board[5] and board[5] == board[6] and board[4] != ' '):    
        Game = Win    
    elif(board[7] == board[8] and board[8] == board[9] and board[7] != ' '):    
        Game = Win    
    #Vertical Winning Condition    
    elif(board[1] == board[4] and board[4] == board[7] and board[1] != ' '):    
        Game = Win    
    elif(board[2] == board[5] and board[5] == board[8] and board[2] != ' '):    
        Game = Win    
    elif(board[3] == board[6] and board[6] == board[9] and board[3] != ' '):    
        Game=Win    
    #Diagonal Winning Condition    
    elif(board[1] == board[5] and board[5] == board[9] and board[5] != ' '):    
        Game = Win    
    elif(board[3] == board[5] and board[5] == board[7] and board[5] != ' '):    
        Game=Win    
    #Match Tie or Draw Condition    
    elif(board[1]!=' ' and board[2]!=' ' and board[3]!=' ' and board[4]!=' ' and board[5]!=' ' and board[6]!=' ' and board[7]!=' ' and board[8]!=' ' and board[9]!=' '):    
        Game=Draw    
    else:            
        Game=Running    
    
print("Tic-Tac-Toe Game Designed By Sourabh Somani")    
print("Player 1 [X] --- Player 2 [O]\n")    
print()    
print()    
print("Please Wait...")    
time.sleep(3)    
while(Game == Running):    
    os.system('cls')    
    DrawBoard()    
    if(player % 2 != 0):    
        print("Player 1's chance")    
        Mark = 'X'    
    else:    
        print("Player 2's chance")    
        Mark = 'O'    
    choice = int(input("Enter the position between [1-9] where you want to mark : "))    
    if(CheckPosition(choice)):    
        board[choice] = Mark    
        player+=1    
        CheckWin()    
    
os.system('cls')    
DrawBoard()    
if(Game==Draw):    
    print("Game Draw")    
elif(Game==Win):    
    player-=1    
    if(player%2!=0):    
        print("Player 1 Won")    
    else:    
        print("Player 2 Won")

In [ ]:
#list
col=["Ankush","Aniket","Atul",10]
col.append("Anurag")
col.insert(0,"MAC")
print(col)
print(type(col))

['MAC', 'Ankush', 'Aniket', 'Atul', 10, 'Anurag']
<class 'list'>

In [ ]:
#loop
i=1
while i<10:
  print(i)
  if i==3:
    break
  i=i+1

1
2
3

In [ ]:
#Random
import random
print("Welcome to RPS game")
uC=("Enter a either Rock or Paper or Scissors")
cI=["Rock", "Paper","Scissor"]
cC=random.choice(cI)
print(cC)

In [ ]:
import math
a=int(input("Enter the first Number"))
b=int(input("Enter the second NUmner"))
c=a+b
print("The Sum of first and Second Number is:",c)

Enter the first Number2456
Enter the second NUmner5224
The Sum of first and Second Number is: 7680

In [ ]:
import math
a=min(1,2,3)
b=max(1,4,7)
c=math.floor(2.1)
d=math.ceil(2.1)
print(a)
print(b)
print(c)
print(d)

1
7
2
3

In [ ]:
student=["anurag","sunil","ankush"]
for i in student:
  print(i)
  #for i in "anurag":
   # print(i)

anurag
sunil
ankush

In [ ]:
for i in "anurag":
  print(i)

a
n
u
r
a
g

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
s=["anurag","sunil","ankush"]
for i in s:
  if i=="sunil":
    break
  print(i)

anurag

In [ ]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [ ]:
#Nested for loop
student=["anurag","sunil","ankush"]
color=["red","blue","green"]
for i in student:
  for j in color:
    print(i,j)

anurag red
anurag blue
anurag green
sunil red
sunil blue
sunil green
ankush red
ankush blue
ankush green

In [ ]:

def pattern(n):
   for i in range(1, n+1):
      # print star
      print("* " * i)
 
# take input
n = int(input('Enter number of row: '))

# function call
pattern(n)

Enter number of row: 5
*
* *
* * *
* * * *
* * * * *

In [ ]:
# PRINTING A PATTERN USING NESTED FOR LOOP
rows = int(input("Please Enter the Total Number of Rows  : "))

print("Right Angled Triangle Star Pattern") 
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print('*', end = '  ')
    print()

Please Enter the Total Number of Rows  : 8
Right Angled Triangle Star Pattern
*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *  *  *

In [ ]:
# PRINTING A PATTERN USING NESTED FOR LOOP
n=int(input("Enter NO of Rows"))
for i in range(0,n):
 for j in range(0,i+1):
   print("*",end="")
   print("\n")

Enter NO of Rows5
*

*

*

*

*

*

*

*

*

*

*

*

*

*

*

In [ ]:
#Another data type: TUPLE
# Ordered And Unchangable
a=("anurag","sunil","tanush")
print(type(a))
print(len(a))
print(a[1])
if "anurag" in a:
 print("Yes,It is present")

<class 'tuple'>
3
sunil
Yes,It is present

In [ ]:
#Another Data Type:set
a={"anurag","sunil","tanush"}
print(a)

{'sunil', 'tanush', 'anurag'}

In [ ]:
#Another Data Type: Dictonary
#ordered, Changebale

In [ ]:
def pr():
  print("Hi I am being called by user defined function pr")

In [ ]:
pr()

Hi I am being called by user defined function pr

In [ ]:
def pr(name):
  print(name + "Cipher")

In [ ]:
pr("Anurag ")

Anurag Cipher

In [ ]:
  def pr(first_name, last_name):
    print(first_name +" " + last_name)

In [ ]:
pr("Cipher " ,"School")

CipherSchool

In [ ]:
def pr(name1,name2,name3):
  print("My name is "+ name2)

In [ ]:
 def pr(n):
  retrurn 5*n
  pr(9)

SyntaxError: ignored

In [ ]:
#Recursion on Factoriial
def factorial(n):
  if n==1:
    return 1;
  else:
    return (n*factorial(n-1))
    factorial(5)

In [ ]:
# Program make a simple calculator

# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y


print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:
    # take input from the user
    choice = input("Enter choice(1/2/3/4): ") #if i am not writing any data type to choice then it will always be string typeg 

    # check if choice is one of the four options
    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))
        
        # check if user wants another calculation
        # break the while loop if answer is no
        next_calculation = input("Let's do next calculation? (yes/no): ")
        if next_calculation == "no":
          break
    
    else:
        print("Invalid Input")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
10.0 - 5.0 = 5.0

In [ ]:
# Prime Number:
num=int(input("Enter the number "))  #4
count=0
i=2
while i<=(num-1):
 if num % i==0:
  count=count+1
 i=i+1
if count==1:
  print("Is not a Prime")
else:
  print("A Prime")